<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>sarmatangella@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>Seethepalli19</param-value>
    </context-param>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>in.controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginUserController</servlet-name>
  	<display-name>/LoginUserController</display-name>
  	<description></description>
  	<servlet-class>in.controller.LoginUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlbAndAlbTypeController</servlet-name>
  	<display-name>AlbAndAlbTypeController</display-name>
  	<description></description>
  	<servlet-class>in.controller.AlbAndAlbTypeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlbandAlbTypeRetrieve</servlet-name>
  	<display-name>AlbandAlbTypeRetrieve</display-name>
  	<description></description>
  	<servlet-class>in.downloader.AlbandAlbTypeRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlbumTypeController</servlet-name>
  	<display-name>AlbumTypeController</display-name>
  	<description></description>
  	<servlet-class>in.controller.AlbumTypeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrackDisplayController</servlet-name>
  	<display-name>TrackDisplayController</display-name>
  	<description></description>
  	<servlet-class>in.controller.TrackDisplayController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrackRetrieve</servlet-name>
  	<display-name>TrackRetrieve</display-name>
  	<description></description>
  	<servlet-class>in.downloader.TrackRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetrieveWithLangController</servlet-name>
  	<display-name>RetrieveWithLangController</display-name>
  	<description></description>
  	<servlet-class>in.controller.RetrieveWithLangController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrackAlbumRetrieve</servlet-name>
  	<display-name>TrackAlbumRetrieve</display-name>
  	<description></description>
  	<servlet-class>in.downloader.TrackAlbumRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FavoritesController</servlet-name>
  	<display-name>FavoritesController</display-name>
  	<description></description>
  	<servlet-class>in.controller.FavoritesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FavoritesAlbumRetrieve</servlet-name>
  	<display-name>FavoritesAlbumRetrieve</display-name>
  	<description></description>
  	<servlet-class>in.downloader.FavoritesAlbumRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllAlbumsRetrieve</servlet-name>
  	<display-name>AllAlbumsRetrieve</display-name>
  	<description></description>
  	<servlet-class>in.downloader.AllAlbumsRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoGetErrorRecover</servlet-name>
  	<display-name>DoGetErrorRecover</display-name>
  	<description></description>
  	<servlet-class>in.controller.DoGetErrorRecover</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HistoryController</servlet-name>
  	<display-name>HistoryController</display-name>
  	<description></description>
  	<servlet-class>in.controller.HistoryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DiscoverSongController</servlet-name>
  	<display-name>DiscoverSongController</display-name>
  	<description></description>
  	<servlet-class>in.controller.DiscoverSongController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DiscoverImagesRetrieve</servlet-name>
  	<display-name>DiscoverImagesRetrieve</display-name>
  	<description></description>
  	<servlet-class>in.downloader.DiscoverImagesRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TypeImageRetrieve</servlet-name>
  	<display-name>TypeImageRetrieve</display-name>
  	<description></description>
  	<servlet-class>in.downloader.TypeImageRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyCode</servlet-name>
  	<display-name>VerifyCode</display-name>
  	<description></description>
  	<servlet-class>in.controller.VerifyCode</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>forgotPasswordController</servlet-name>
  	<display-name>forgotPasswordController</display-name>
  	<description></description>
  	<servlet-class>in.controller.forgotPasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMailFPController</servlet-name>
  	<display-name>SendMailFPController</display-name>
  	<description></description>
  	<servlet-class>in.controller.SendMailFPController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginUserController</servlet-name>
  	<url-pattern>/Loginprocess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlbAndAlbTypeController</servlet-name>
  	<url-pattern>/AlbAndAlbTypeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlbandAlbTypeRetrieve</servlet-name>
  	<url-pattern>/AlbandAlbTypeRetrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlbumTypeController</servlet-name>
  	<url-pattern>/AlbumTypeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrackDisplayController</servlet-name>
  	<url-pattern>/TrackDisplayController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrackRetrieve</servlet-name>
  	<url-pattern>/TrackRetrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetrieveWithLangController</servlet-name>
  	<url-pattern>/RetrieveWithLangController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrackAlbumRetrieve</servlet-name>
  	<url-pattern>/TrackAlbumRetrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FavoritesController</servlet-name>
  	<url-pattern>/FavoritesController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FavoritesAlbumRetrieve</servlet-name>
  	<url-pattern>/FavoritesAlbumRetrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllAlbumsRetrieve</servlet-name>
  	<url-pattern>/AllAlbumsRetrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoGetErrorRecover</servlet-name>
  	<url-pattern>/DoGetErrorRecover</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HistoryController</servlet-name>
  	<url-pattern>/HistoryController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DiscoverSongController</servlet-name>
  	<url-pattern>/DiscoverSongController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DiscoverImagesRetrieve</servlet-name>
  	<url-pattern>/DiscoverImagesRetrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TypeImageRetrieve</servlet-name>
  	<url-pattern>/TypeImageRetrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyCode</servlet-name>
  	<url-pattern>/VerifyCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>forgotPasswordController</servlet-name>
  	<url-pattern>/forgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMailFPController</servlet-name>
  	<url-pattern>/SendMailFPController</url-pattern>
  </servlet-mapping>
</web-app>
